.line {
    border-bottom: solid 5px gray;
}

#gray_block{ 
    background-color: #ddd;
}

#inner_gray{
    margin: 0% 5%;

}

#gray_picture{
    
    border-bottom: solid 250px #444;
    
}

#pink_text {
    position: absolute;
    top: 10%;
    padding: 3%;
    margin: 0% 1%;
    background-color: #f55;
    width: 10%;
}


#under_gray{
    width: 100%;
}

#under_gray .gray_text {
    /*position:relative;*/
    text-align: center;
    background-color: #333;
    width: 100%;
}

.little_image {
    width: 100%;
    height: auto;
}
#under_gray .small_block {
    
    margin-top: 1%;
    width: 33.3%;
    /*display: inline-block;*/
    float:left;
    margin-bottom: 2%;
}

#under_gray .small_block:last-child {
    
    margin-left:0;

    width: 33.3%;
    float: left;
    float:left;
    margin-bottom: 2%;
    margin-top: 1%;

}


.clear {
    clear:both;
}