#gallery{
    margin: 0% 5%;
    clear: both;
    
    
}
#pics {

}
.small {
	width:33%;
    float: left;
    margin-bottom: 2%;
}

.no-margin{
    margin:0;
    float:left;
    width: 33%;
}

.gimage {
	width: 100%;
	height: auto;
}
.clearb {
	clear: both;
}