#blue_block {
    clear: left;
    background-color: blue;
    padding-bottom: 1%;
}

#big_text {
    position: relative;
    width: 40%;
    padding-left: 5%;
    float: left;
    text-align: justify;
}

#blue_image{
    width:50%;
    position:relative;
    margin-left: 50%;

}
.bimage{
    width:90%;
}

#blue_block h2 {
    padding-top: 1%;
    margin: 0 5%;
}

.clear {
    clear: both;
}