#blue_block {
    clear: left;
    background-color: blue;
}

#big_text {
    position: relative;
    width: 45%;
    padding-left: 5%;
    float: left;
    text-align: justify;
}

#blue_image{
    width:50%;
    position:relative;
    margin-left: 70%;
    /*float: right;*/
}

#blue_block h2 {
    margin: 1% 5%;
}

.clear {
    clear: both;
}